/// media query var
$medias: mob max 767px, sm min 768px, med min 992px, larg min 1200px;
// colors 
$mainColor: #2da468;
$secColor: #2e2f33;
$hovColor: #7b7b8025;
$whiteColor: #fff;
$tran: 0.3s linear;

//s