.services {
    padding: 50px 0;
    border-bottom: 1px solid $whiteColor;
    .container {
        overflow: hidden;
        .boxes {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 30px;
            .box {
                border: 1px solid $mainColor;
                border-radius: 10px;
                padding: 15px;
                text-transform: capitalize;
                transition: $tran;
                &:hover {
                    transform: translateY(-15px);
                }
                .svg {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: $mainColor;
                    color: $secColor;
                    display: grid;
                    place-items: center;
                    font-size: 2em;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    margin-left: calc(50% - 15px);
                    transform: translateX(calc(-50%));
                    position: relative;
                    
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 250px;
                        height: 1.2px;
                        background-color: $mainColor;
                        z-index: -4;
                    }
                    svg {
                        position: absolute;
                        z-index: 1;
                        color: $mainColor;
                    }
                    
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 70px;
                        height: 70px;
                        border: 1.4px solid transparent;
                        border-radius: 50%;
                        background-color: $secColor;
                        border-left-color: $mainColor;
                        border-right-color: $mainColor;
                        z-index: -1;
                    }
                }
                h3 {
                    margin-bottom: 20px;
                }
                p {
                    padding-left: 10px;
                    line-height: 1.8;
                    margin-bottom: 20px;
                }
                a {
                    
                    padding-left: 10px;
                    color: $mainColor;
                    text-decoration: none;
                    height: 50px;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    transition: $tran;
                    svg {
                        transition: $tran;
                    }
                    &:hover {
                        font-size: 1.2em;
                    }
                    &:hover svg {
                        font-size: 1.3em;
                        transform: translateX(15px);
                    }
                }
            }
        }
    }
}